.board-member-edit {
    overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  flex-wrap: wrap;

    .member-edit-modal {
        padding: 20px;
        margin: 55px 0;
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        background-color: $clr-base-2;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        width: 600px;
        max-width: em(768px);
        min-width: em(345px);

        h1 {
            font-size: 20px;
            font-weight: 400;
            margin-block-end: 24px;
        }

        .btn-close {
            position: absolute;
            right: 10px;
            top: 10px;
            background: none;
            border: none;
            font-size: 10px;
            color: #626f86;
            padding: 5px;
      
            &:hover {
              background: none;
            }
        }

        .member-search {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;

            input {
                width: 87.5%;
                padding: 6px 12px ;
                height: 40px;
                border-radius: 3px;
                border: 1px solid lightgray;
                margin-inline-end: 10px;
            }
            button {
                height: 40px;
            }
        }

        .current-members {
            .member-preview {
                display: flex;
                justify-content: space-between;
                margin-block-end: 10px;
                .member-info {
                    display: flex;
                    img {
                        width: 32px;
                        height: 32px;
                        margin-inline-end: 10px;
                    }
                }
                label {
                    text-align: start;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: $modal-edit;
                    border: none;
                    border-radius: 3px;
                    height: fit-content;
                    padding: em(8px) em(14px);
                  }
            }
        }
    }
}