.user-dropdown {
    position: absolute;
    top: 7.125rem;
    overflow-y: scroll;
    max-height: 45%;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    border-radius: 3px;
    background-color: #fff;
    width: 82%;
    padding: 0.5rem;
    .user-dropdown-preview {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 8px;
        }
        p {
            margin: 0;
        }

        &:hover {
            background-color: lightgrey;
        }
    }
}