.task-preview {
    overflow: hidden;
    background-color: #fff;
    border-radius: em(10px);
    cursor: pointer;
    text-align: start;
    box-shadow: 0 1px 0 rgba(9,30,66,.251);
    font-size: 14px;
    white-space: normal;
    margin: em(1px) em(4px) em(10px);

    .cover {
        height: 32px;
    }
    
    .task-content {
        padding: em(8px) em(8px) em(4px) em(12px);
        overflow: hidden;
    
        p {
            margin: 0 0 em(4px);
            word-wrap: break-word;
        }
    }
}