.task-preview {
    cursor: pointer;

    text-align: start;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(9,30,66,.251);
    font-size: 14px;
    margin: em(10px) em(4px);
    padding: em(4px) em(8px);
    overflow: hidden;
    white-space: normal;
    border-radius: em(10px);

    &:hover {
       background-color:  rgba(9,30,66,.04);
    }

    p {
        padding: em(6px) 0;
        margin: 0;
    }
}