.task-edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
    
    
    .modal-content {
        overflow: hidden;
        border-radius: 6px;
        background-color: $clr-base-2;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        width: em(768px);

        .cover {
            height: 116px;
        }

        .content-wrapper {
            padding: 20px;

            .modal-edit {
                display: flex;
                justify-content: space-between;
            }

            input {
                width: 100%;
            }

            .task-main {
                textarea {
                    width: em(512px);
                    padding: 8px;
                    // border: 1px solid $gray-light;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    font-size: 14px;
                }
            }

            .modal-sidebar {
                button {
                    text-align: start;
                    background-color: $clr8;
                    border: none;
                    width: em(168px);
                    height: em(32px);
                    margin: em(8px) 0 0;
                    padding: em(6px) em(12px);
                }
            }
        }
    }
}