.dynamic-modal {
    position: relative;

    .modal-search {
        height: 36px;
        font-size: 16px;
        width: 100%;
        padding: 8px 12px;
        border: 2px solid lightgray;
        border-radius: 3px;
    }

    .modal-sub-title {
        text-align: start;
        font-size: 14px;
        margin: 12px 0;
        font-weight: 600;
    }
    

    background-color: #fff;
    border-radius: 3px;
    height: fit-content;
    width: 304px;
    padding: 0 12px 10px;
    z-index: 4;
    cursor: default;
    border-radius: 6px;
    box-shadow: -1px -1px 13px 0px rgba(183,161,161,0.75);
    -webkit-box-shadow: -1px -1px 13px 0px rgba(183,161,161,0.75);
    -moz-box-shadow: -1px -1px 13px 0px rgba(183,161,161,0.75);

    .dynamic-modal-title {
        border-bottom: 1px solid rgba(9,30,66,.129);
        box-sizing: border-box;
        color: #5e6c84;
        display: block;
        font-size: 14px;
        line-height: 40px;
        padding: 0 32px;
        text-align: center;
        margin: 0 auto;
        text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;
    }

    
}