.task-cover {
    
    ul {
        grid-gap: 8px;
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 10px -4px;
        overflow-x: hidden;
        padding: 4px;

        li {
            .btn-color {
                width: 50px;
                height: 32px;
                border: none;
                border-radius: 3px;
            }
        }
    }

    .btn-remove {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}