.checklist-list {
    text-align: start;
    margin-block-end: em(30px);
    .checklist-top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 90%;

        .checklist-title {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            button {
                align-self: center;
            }
        }

    }
}