:root {
    --app-height: 100%;
    --board-header-height: 3.5rem;
  }
  
  // Colors
  
  $clr8: #091e420a;
  
  
  
  
  
  // Base Colors
  
  $clr-base-2: #f4f5f7; // <TaskDetails> bgc
  $clr-base-3: #ebecf0; // card bgc + <TaskDetails buttons>
  $clr-base-3-hover: #091e4214; // <TaskDetails buttons>
  $clr-base-4: #44546f; // sub font color
  $clr-base-5: #172b4d; // font color
  $clr-base-8: #0079bf; // notification color
  $clr-base-8-hover: #026aa7; // notification color
  $clr-base-9: #091e4224;
  $clr-base-10: #42526e;
  $clr-base-11: #2879bf;
  $clr-base-11-hover: #226aa7;
 
  $clr-base-14: #0065ff; //HomePage Button
  $clr-base-14-hover: #0747a6; //Home Page Button Hover
  
  $clr-dynamic-button-highlighted: #dfe1e6;
  $clr-dynamic-button-highlighted-text: #172b4d;
  
  
  
  
  :root {
    // --bgc-board-details: #9ea8ba;
  }
  
  // Breakpoints
  $mobile-breakpoint: 460px;
  $narrow-breakpoint: 720px;
  $normal-breakpoint: 1140px;
  
  
  $scrollbar-track: #fafbfc63;
  $scrollbar-piece: #00000026;
  
  
  // ModalPicker
  $modal-edit: #091E420F;
  $modal-picker-box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
  $clr-modal-picker-line: rgba(9, 30, 66, 0.13);
  
  // CreateBoard
  $input-bgc: #fafbfc;
  $input-border-clr: #dfe1e6;
  $input-border: 2px solid #dfe1e6;
  
  
  