.board {
  
  height: 100vh;
  width: 100vw;
  
  .board-info {
    backdrop-filter: blur(10px);

    &>* {
      cursor: pointer;
    }

    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 10px 12px 16px;
    height: 56px;
    width: 100%;
    background-color: #0000003d;
    align-items: center;

    .btn-board {
      background: none;
      border: none;
      padding: 5px 10px;
      color: #fff;
      font-size: 18px;

      &:hover {
        background-color: #A6C5E229;
      }

    }

    .board-members {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 150px;
      margin-inline-end: 20px;

      .board-top-menu-members {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        direction: rtl;
        padding-right: 3px;
        
        li {
  
          img {
            margin-right: -4px;
          }
        }
      }
      button {
        font-size: 15px;
      }
    }

  }

  .board-main-content {
    overflow-x: scroll;
    height: 91vh;
  }

  
}