.container {
    max-width: 1500px;
    padding: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.hover-dark {
    background: none;
    border: none;
    &:hover {
        cursor: pointer;
        background-color:  rgba(9,30,66,.04);
    }
}

.btn-save {
    border-radius: 3px;
    border: none;
    height: fit-content;
    padding: em(8px) em(14px);
    color: #fff;
    background-color: $clr-base-14;

    &:hover {
        background-color: $clr-base-14-hover;
    }

}