@font-face {
    font-family: Charlie-Bold;
    src: url('../../fonts/CharlieDisplay-Bold.ttf');
}

@font-face {
    font-family: Charlie-Semi-Bold;
    src: url('../../fonts/Charlie_Display-Semibold.woff2');
}

@font-face {
    font-family: Charlie-Regular;
    src: url('../../fonts/Charlie_Text-Regular.woff2');
}

