.task-edit {

  i {
    font-size: em(20px);
    margin-inline-end: em(10px);
  }

  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  flex-wrap: wrap;

  .modal-content {
    margin: 55px 0;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: $clr-base-2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: em(768px);
    min-width: em(345px);

    

    button {
      text-align: start;
      font-size: 14px;
      background-color: $modal-edit;
      border: none;
      border-radius: 3px;
      height: fit-content;
      padding: em(8px) em(14px);
      &:hover {
        background-color: $clr-base-9;
      }
    }

    .btn-save {
      background-color: $clr-base-14;
      &:hover {
        background-color: $clr-base-14-hover;
      }
    }

    .btn-close {
      position: absolute;
      right: 10px;
      top: 10px;
      background: none;
      font-size: 10px;
      color: #626f86;
      padding: 5px;

      

      &:hover {
        background: none;
      }
  }

    .cover {
      height: 116px;
    }

    .content-wrapper {
      padding: 20px;
      display: grid;
      .title-in-task {
        display: flex;
        align-items: center;
      }

      h2 {
        text-align: start;
        font-size: 16px;
        font-weight: 600;
      }

      .modal-edit {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 745px) {
          flex-direction: column;
          // justify-content: flex-start;
          width: 100%;

        //  .modal-sidebar {
        //   display: grid;
        //   margin: 8px;
        //   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        //  }
      }

        & > * {
          margin-block-end: 50px;
        }
      }

      .text-input {
        color: $clr-base-5;
        padding: 10px 0;
        width: 100%;
        background: none;
        border: none;
        font-size: rem(20px);
        font-weight: 600;

        &:focus {
          background-color: #fff;
        }
      }

      .task-main {
        // max-width: 512px;
        .task-edit-actions {
          &>* {
              margin: 0 10px 10px 0;
          }
          h3 {
            font-size: 12px;
            color: #626f86;
            font-weight: 500;
            text-align: start;
            margin: 0 8px 4px 0;

          }

          .label-edit-container {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
          }

          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          margin: 20px 0;

          .task-edit-label {
            cursor: pointer;
            min-width: em(48px);
            max-width: 100%;
            height: em(32px);
            border-radius: 3px;
            padding: 0 6px;

            &:hover {
              opacity: 0.9;
            }
          }
        }

        textarea {
          width: em(512px);
          padding: 10px 0;
          background: none;
          border: none;
          outline: none;
          border-radius: 4px;
          margin-bottom: 10px;
          font-size: 14px;

          &:focus {
            background-color: #fff;
          }
        }
      }

      .modal-sidebar {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 745px) {
          display: inline-flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 8px;
        }
        

        .btn-edit {
          text-align: start;
          background-color: $clr8;
          color: #626f86;
          font-weight: 100;
          border: none;
          min-width: em(200px);
          height: em(37px);
          margin: em(8px) 0 0;
          padding: em(8px) em(14px);

          &:hover {
            background-color: $clr-base-9;
          }

          @media screen and (max-width: 745px) {
            flex-grow: 1;
          }

          i {
            margin-inline-end: 8px;
          }
        }
      }
    }
  }
}
